html {
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.bg { 
    background-color: #fa4545;
    transform: rotate(-7deg);
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.bg p {
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: -2px;
    /* Ignores the white space */
    white-space: pre;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my-col {
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    border-bottom: 5px solid #fa4545;
}

a {
    line-height: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

h2 {
    border-bottom: 2px solid #fa4545;
    margin-top: 5px;
    padding-bottom: 10px;
}

.my-col :last-of-type h2 {
    border-bottom: none;
}